@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.0rem;
  color: #333;
  font-family: 'Roboto',sans-serif;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  width: 100%; 
  height: auto
}

input[type="submit"] {
  border: none;
}

ul {
  padding: 0;
}

/*-------------------------------------------------------------------------------------------------

共通部分

--------------------------------------------------------------------------------------------------*/
// 共通見出し
.page-title {
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid #000;
  padding: 16px;
  margin-bottom: 34px;
}

// 共通ボタン
.btn-primary {
  display: block;
  width: 300px;
  padding: 8px 0;
  margin: 0 auto 24px;
  font-size: 16px;
  text-align: center;
  background: linear-gradient(135deg, #fff056 0%,#a0c84a 100%);
  border-radius: 5px;
}

// フォーム関連

form {
  font-size: 16px;
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
}

input {
  width: 300px;
  margin-bottom: 24px;
}

input[type="radio"] {
  margin: 0;
  width: 50px;
}

.radio-label {
  display: inline-block;
  margin: 8px 0 24px;
}

textarea {
  width: 300px;
  margin-bottom: 16px;
}

.texarea-label {
  margin-bottom: 24px;
}

// エラー文
.err {
  font-size: 16px;
  color: #EB4729;
  text-align: center;
  padding: 8px 0;
}


// 入力確認質問
.q {
  max-width: 300px;
  margin: 0 auto;
  font-size: 16px;
  padding: 8px 0 4px;
}

// 入力確認答え
.a {
  max-width: 300px;
  margin: 0 auto;
  font-size: 16px;
  padding: 0 0 8px 16px;
}

// フォームに表示するエラー文
.form-err {
  font-size: 16px;
  color: #EB4729;
  text-align: center;
  margin-top: -24px;
}

// 結果メッセージ
.result {
  font-size: 16px;
  text-align: center;
  padding: 8px 0;
}

// スタッフ一覧

.staff-list {
  max-width: 350px;
  margin: 0 auto;
}

.staff-list__item {
  display: flex;
  margin: 8px 0;
  .id-box {
    width: 10%;
  }
  .name-box {
    width: 30%;
  }
  .email-box {
    width: 40%;
  }
  .q-box {
    width: 20%;
  }
}


/* -------------------------------------------- */
/* ▼タブレット用デザイン */
/* -------------------------------------------- */
@media screen and (min-width: 768px) {

}
/* ------------------------------------ */
/* ▼PC用デザイン用デザイン */
/* ------------------------------------ */
@media screen and (min-width: 1024px) {
    
}
