@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.0rem;
  color: #333;
  font-family: 'Roboto',sans-serif;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: blue;
  text-decoration: none;
}

img {
  width: 100%; 
  height: auto
}

input[type="submit"] {
  border: none;
}


/*-------------------------------------------------------------------------------------------------

共通部分

--------------------------------------------------------------------------------------------------*/
// 共通見出し
.page-title {
  font-size: 24px;
  text-align: center;
  padding: 24px 0;
}

// 共通ボタン
.btn-primary {
  display: block;
  width: 300px;
  padding: 8px 0;
  margin: 0 auto 24px;
  font-size: 16px;
  text-align: center;
  background-color: lightgreen;
  border-radius: 5px;
}






/* -------------------------------------------- */
/* ▼タブレット用デザイン */
/* -------------------------------------------- */
@media screen and (min-width: 768px) {

}
/* ------------------------------------ */
/* ▼PC用デザイン用デザイン */
/* ------------------------------------ */
@media screen and (min-width: 1024px) {
    
}
